@use "../partials/partial";

.info-box {
  @include partial.flex($justify: left);
  padding: 1.5rem;
  color: var(--white);
  width: 30rem;
  font-size: 2rem;
  h3 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 735px) {
  .info-box {
    width: 100%;

  }

}
